{{!< default}}

<link rel="stylesheet" type="text/css" href="/assets/css/post.css" />

{{#post}}
<header class="post-header">
    <div class="vertical">
        <div class="post-header-content inner">
            <p class="blog-intro">- READING -</p>
            <h1 class="post-title">{{{title}}}</h1>
            {{! Everything below outputs content of the the post which has been published }}
            <span class="post-meta"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time> {{#if tags}}on {{tags separator=" | "}}{{/if}}</span>
            <p id="scroll" class="instruction">Scroll Down</p>

        </div>
    </div>
</header>
<article class="{{post_class}}">

<main class="content" role="main">

        {{! Everything inside the #post tags pulls data from the post }}

        <section class="post-content">
            {{content}}
        </section>
        <hr>
        <footer class="post-footer">

            {{#if author}}
                <section class="author">
                    <h4>{{author.name}}</h4>
                    <p>{{author.bio}}</p>
                </section>
            {{/if}}

            <section class="share">
                <h4>Share this post</h4>
                <a class="icon-twitter" href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <span class="hidden">Twitter</span>
                </a>
                <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <span class="hidden">Facebook</span>
                </a>
                <a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
                   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                    <span class="hidden">Google+</span>
                </a>
            </section>

        </footer>

        {{/post}}
    </article>

</main>
{{ghost_foot}}
    <script type="text/javascript" src="/assets/js/post.js"></script>

